.Accordion button{
    color: #000;
}
.Accordion button:hover{
    color: #46AEF7;
}
.Accordion a{
    color: #000;
}
.Accordion a:hover{
    color: #46AEF7;
}
.Submenu div{
    padding: 0.1rem;
}
.Submenu a{
    padding-left: 1rem;
}

.Menu_background:hover{
    background: #ccc;
}

.Submenu_item_border_bottom{
    border-bottom: 1px dashed #ccc;
}

.Item_Text{
    font-size: 1rem !important;
    font-weight: 500;
    letter-spacing: 1px;
}

.Margin_padding{
    margin:0;
    padding:0;
}
